@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&display=swap');
@import "tailwindcss";

.afacad-bold {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.afacad-semi-bold{
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}



body {
  
  
}

.test {
    font-family: "Afacad", sans-serif;
    font-weight: 500;
}

@theme {
  --color-test: #782f27;
  --font-afacad: Afacad, "arial";
}

@layer base{
  h2{
    @apply text-amber-300
  }
}

@layer components{
  .tess{
    @apply text-blue-600 text-[6rem]
  }
}